[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
ipykernel = "*"
matplotlib = "*"
scipy = "*"
pexpect = "*"
relistats = {editable = true, path = "./.."}
seaborn = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
